{
  "extends": [
    "@pacote/eslint-config",
    "@pacote/eslint-config-react",
    "@pacote/eslint-config-jest",
    "plugin:cypress/recommended"
  ],
  "plugins": ["cypress"],
  "rules": {
    "react/no-unknown-property": ["warn", { "ignore": ["class", "for"] }]
  },
  "settings": {
    "react": {
      "pragma": "createElement"
    }
  }
}
