.main {
  margin-top: 56px;
  padding: 15px;
}

.day {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.period {
  display: grid;
  grid-template-rows: 4rem 1rem;
  grid-template-columns: 1rem 4rem auto;
  padding: 1rem;
  border: 1px solid #eee;
}

.checkbox {
  align-self: center;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.monthday {
  align-self: center;
  justify-self: center;
  grid-column: 2;
  grid-row: 1;
  font-size: 2rem;
}

.weekday {
  justify-self: center;
  font-size: .8rem;
  grid-column: 2;
  grid-row: 2;
}

.signature {
  grid-row: 1;
  grid-column: 3;
  height: 4rem;
}

.times {
  font-size: .8rem;
  grid-row: 2;
  grid-column: 3;
}
